<% include header %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
      <a class="navbar-brand" href="#">GRID</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav">
        <li><a id='grid' href="/grid">Tree</a></li>
        <li><a id='cobit' href="/treemap">COBIT</a></li>
        <li><a id='info' href="/info">Info</a></li>
        <li><a id='profile' href="/profile">Profile</a></li>
      </ul>
      <div class="navbar-form navbar-right">
        Welcome,
        <%= user.properties.username || user.properties.localEmail%>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>


    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <!-- /navbar -->

